@import "../../../assets/styles/styles.scss";

.forecast {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 40vh;

  h1 {
    font-size: 72px;
    font-weight: bold;
		
    background: -webkit-radial-gradient($blue, $green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
