@import "../../../../assets/styles/styles.scss";

$fill: rgba(0, 0, 0, 0.5);
$border-radius: 10px;
$width: 50rem;
$height: 55px;

.search {
	background: $white;
	width: auto;
	height: $height;
	position: relative;
	overflow: hidden;
	border-radius: $border-radius;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;

	input {
		position: relative;
		width: $height;
		height: $height;
		color: $gray;
		border: 0;
		box-sizing: border-box;
		outline: none;
		padding: 0 0 0 40px;
		transition: width 0.6s ease;
		z-index: 10;
		opacity: 0;
		cursor: pointer;

		&:focus {
			z-index: 0;
			opacity: 1;
			width: $width;
			~ .symbol {
				&::before {
					width: 0%;
				}

				&:after {
					clip-path: inset(0% 0% 0% 100%);
					transition: clip-path 0.04s linear 0.105s;
				}

				.cloud {
					top: -30px;
					left: -30px;
					transform: translate(0, 0);
					transition: all 0.6s ease;
					fill: $white;
				}

				.lens {
					top: 20px;
					left: 15px;
					transform: translate(0, 0);
					fill: $white;
					transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s, fill 0.3s ease;
					fill: $fill;
				}
			}
		}
	}

	.symbol {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		&:before {
			content: "";
			position: absolute;
			right: 0;
			width: 100%;
			height: 100%;
			background: $white;
			z-index: -1;
			transition: width 0.6s ease;
		}

		&:after {
			content: "";
			position: absolute;
			top: 21px;
			left: 21px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: $white;
			z-index: 1;
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 0.04s linear 0.225s;
		}

		.cloud,
		.lens {
			position: absolute;
			stroke: none;
			top: 50%;
			left: 50%;
		}

		.cloud {
			width: 35px;
			height: 32px;
			transform: translate(-50%, -60%);
			transition: all 0.6s ease;
			fill: $fill;
		}

		.lens {
			width: 16px;
			height: 16px;
			z-index: 2;
			top: 24px;
			left: 24px;
			transition: top 0.3s ease, left 0.3s ease, fill 0.2s ease 0.2s;
			fill: $fill;
		}
	}
}
